@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
html{
    scroll-behavior: smooth;
}
/*nav bar parameters*/
.btn__menu{
    position:absolute;
    background-color: transparent;
    font-size: 100px;
    text-align: center;
    border:none;
    color:#6415ff;
    cursor:pointer;
}
.menu__backdrop{
    position:absolute;
    background-color: #242424;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 300ms ease;
    opacity:0;
    visibility:hidden;
}
.menu--open{
    max-height: 100vh;
    overflow-y:hidden;
    overflow-x:hidden;
}
.menu--open .menu__backdrop{
    visibility:visible;
    opacity:1;
}
.menu__list{
    padding:32px 0;
}
.btn__menu--close{
    position:absolute;
    right:20px;
    top:10px;
    padding:8px;
    color:white;
}
.menu__link{
    color:white;
    font-size: 40px;
}
.menu__links{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.nav__links--wrapper{
    display: flex;
    justify-content: center;
    width:100%;
    max-width: 750px;
}
#nav{
    padding:96px 96px;
    margin:0 20% 0 0;
}
.treact__logo--wrapper{
    display: flex;
    align-items: center;
    width:100%;
    max-width: 20px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    max-width: 2300px;
}
.treact__logo--text{
    color:#243E63;
    font-weight: 900;
    font-size: 1.5rem;
}
.nav__link{
    display: flex;
    padding:0 32px;
    justify-content: center;
    align-items: center;
}
ul{
    margin:0 auto;
    display: flex;

}
.nav__signup{
    background-color: #6415ff;
    color:white;
    padding:14px 32px;
    border-radius: 32px;
    cursor:pointer;
}
.nav__signup:active{
    transform:translateY(1px);
}
.nav__link--main{
        padding:32px 0 0 16px;
        margin:32px 0 0 16px;
}
.navigation__row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.treact__img--txt{
    font-weight: bold;
    letter-spacing: 0.25rem;
}
.treact__logo--img{
    width:40px;
}
.img__text{
    font-size: 20px;
    font-weight: bold;
    color:black;
    letter-spacing:0.1rem;
}
.connections__logo--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    max-width: 400px;

}
li{
    display: flex;
    margin:0 auto;
    padding-left: 50px;
    list-style-type: none;
}
.nav__link--login{
    margin-left:16px;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color:gray;
    font-weight: bold;
}
.nav__links{
    transform: translateX(50%);
}
.nav__link--btn{
    border-radius: 32px;
    background-color: #6415ff;
    color:white;
    padding:8px 24px;
}
.nav__link--btn:hover{
    cursor:pointer;
}
.logo__img--wrapper{
    display: flex;
    align-items: center;
}
.logo__img{
    display: flex;
    width:40px;
    margin:0 auto;
}
.logo__img:hover,
.treact__logo--text:hover{
    cursor:pointer;
}
/*header*/
#header{
    margin-bottom:10%;
}
.header__container{
    display: flex;
    justify-content: center;
    width:100%;
    max-width: 2300px;
    padding-left:45px;
}
.header__box1{
    display: flex;
    flex-direction: column;
    padding:48px 0;
    width:40%;
    max-width: 500px;
}
.header__box2{
    display: flex;
    width:50%;
    max-width: 800px;
}
.header__title{
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
}
.header__para{
    font-size: 16px;
    width:100%;
    max-width: 400px;
    margin:32px 0;
}
.customer{
    padding-top:50px;
    font-size: 14px;
    font-weight: bold;
    opacity:0.5;
    color:#A0AEC0;
}
form{
    display: flex;
    flex-direction: row;
    border:2px solid rgba(170, 170, 170, 0.348);
    border-radius: 32px;
    width:400px;
}
.customer__logo{
    width:100%;
    padding:20px 0;
    opacity:0.5;
}
.start--btn{
    margin:0 auto;
    border-radius: 32px;
    padding:4px 40px;
    background-color: #6415ff;
    color:white;
}
.get__started--btn{
    background-color: #6415ff;
    color:white;
    padding:4px 32px;
    border-radius: 32px;
    cursor:pointer;
}
.get__started--btn:active{
    transform:translateY(1px);
}
.start--btn:hover{
    cursor:pointer;
}
.start--btn:active{
    transform: translateY(1px);
}
input{
    border:none;
    flex-grow: 2;
    border-radius: 9999px;
    border-width:2px;
    padding:20px;
    background-color: white;
    margin:0px;
    line-height: inherit;
}
.header__description--para{
    width:100%;
    max-width: 1200px;
    font-size: 12px;
    margin:0 auto;
}
.get__started--container{
    display: flex;
    margin:20px 10%;
}

.color{
    color:#6415ff;
}
.desk__img{
    width:100%;
    max-width: 1200px;
    justify-content: center;
}


/*features*/
.features__row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto;
    max-width: 2300px;
    width:100%px;
}
.features__title{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-align: center;
}
.services__subtitle{
    justify-content: center;
    padding:24px 0 24px 0;
    margin:0 auto;
    color:#243e63;
    font-size: 48px;
}
.features__para{
    display: flex;
    width:100%;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    margin-bottom:5%;
}
.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0 auto;
    width:50%;
}
.service{
    display: flex;
    width:calc(100% / 3);
    margin:0 0 24px 0;
    align-items: center;
    justify-content: center;
}
.service__img--wrapper{
    display: flex;
}
.service__img{
    width:40px;
}
.service__title{
    text-align: center;
    margin:0 50% 0 20%;
}
.service__para{
    width:50%;
    width:200px;
    margin:0 0 0 50px; 
    line-height: 1.5;
}

/*quality section*/
#quality{
    margin:10% 0;
}
.quality__row{
    width:100%;
    max-width: 1200px;
    margin:0 auto;
}
.quality__container{
    width:60%;
    display: flex;
    flex-direction: column;
}
.quality__wrapper{
    display: flex;
    max-width:1200px;
    width:100%;
}
.quality__img{
    width:100%;
    max-width: 800px;
}
.quality__title{
    color:#6415ff
}
.quality__subtitle{
    font-size:48px;
    width:100%;
    max-width: 700px;
}
.quality__para{
    color:#7C8BA1;
    line-height: 1.5;
}
.quality__img--container{
    border:1px solid rgba(128, 128, 128, 0.253);
    margin: 0 0 0 24px;
}
.quality__learn--btn{
    padding:8px 16px;
    border-radius:32px;
    background-color: #6415ff;
    color:white;
    margin-top:20px;
}
/*steps*/
.steps__container{
    display: flex;
    justify-content: center;
    width:100%;
    max-width: 2300px;
}
.step__wrapper{
    display: flex;
    margin:24px;
}
.steps__header{
    font-size: 16px;
    color:#6415ff;
    margin-bottom:24px;
}
.steps__subheader{
    font-size: 48px;
}
.step__number{
    padding:16px 24px;
    font-size: 24px;
    font-weight: bold;
    opacity:0.5;
}
.Register{
    font-weight: bold;
    font-size: 18px;
    margin-bottom:8px;
}
.Register__para{
    width:100%;
    max-width: 300px;
}
/*pricing*/
.pricing__row{
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
}
.plans__wrapper{
display: flex;
justify-content: space-around;
}
.plan__container--wrapper{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.personal__time{
    color:gray;
    font-weight: bold;
    margin-bottom:48px;
}
.pricing__subheader{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.025em;
    color:#243e63;
}
.personal__plan--top{
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    width:383.99px;
    height:0.5rem;
    border-top-left-radius:0.5rem;
    border-top-right-radius:0.5rem;
    background:linear-gradient(115deg, rgb(56,178,172)0%, rgb(129,230,217)100%);
    margin:0px;
}
.personal__description--border{
    margin-left:-2rem;
    margin-right:-2rem;
    display: flex;
    flex-direction: column;
    border-top-width:0.5px;
    border-bottom-width:2px;
    padding:0.5px;
    background-color: rgb(226, 232, 240);
    border-radius: 0.5px;
    border-color:#A0AEC0;
}
.personal__plan--container{
    position:relative;
    margin-top:4rem;
    display: flex;
    width:100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    opacity:1;
    background-color: white;
    padding-left:2rem;
    padding-right:2rem;
    text-align: center;

}
.personal__button--container{
    padding:2rem 1rem;
}
.plan__highlight{
    position:absolute;
    left:0;
    right:0;
    top:0;
    height:0.5rem;
    border-top-left-radius:0.5rem;
    border-top-right-radius:0.5rem;
    background:linear-gradient(115deg, rgb(56, 178, 172)0%, rgb(129,230,217)100%);
}
.personal__plan--price{
    font-size: 48px;
    font-weight: bold;
    margin-bottom:24px;
    color:black;
}
.plan__time{
    margin-bottom:24px;
    font-size: 18px;
    color:white;
    font-weight: bold;
    opacity:0.5;
}
.plan__header{
    display: flex;
    flex-direction: column;
    padding-top:2rem;
    text-transform: uppercase;
    line-height: 1.625;
    text-align: center;
    margin-bottom:32px;
}
.pricing__header--container{
    width:100%;
    max-width: 800px;
    margin:0 auto;
}
.personal__para{
    margin-bottom:12px;
    font-weight: bold;
}
.pricing__para--top{
    width:100%;
    max-width: 800px;
}
.pricing__para{
    width:100%;
    text-align: center;
    font-size: 18px;
    max-width: 1200px;
    margin: 32px 0px 32px 0px;
}
.plan__type{
    margin:24px 0 16px 0;
}
.personal__btn{
    padding:16px 48px;
    border-radius: 32px;
    margin-bottom:24px;
    margin-top:24px;
    background:linear-gradient(115deg, rgb(56, 178, 172)0%, rgb(129,230,217)100%);
}
/*business plan*/
.business__plan--container{
    position:relative;
    margin-top:4rem;
    display: flex;
    width:100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background:linear-gradient(135deg, rgb(76,81,191)0%, rgb(102,126,234)100%);
    padding-left:2rem;
    padding-right:2rem;
    text-align: center;
}
.business__plan--type{
    color:white;
    margin-top:28px;
    margin-bottom:20px;
}
.business__btn{
    padding:16px 48px;
    border-radius: 32px;
    margin-bottom:24px;
    margin-top:24px;
    background-color: white;
    color:#6415ff;
    font-weight: bold;
}
.business__para{
    color:white;
    margin:0 0 18px 0;
    width:100%;

}
.business__description--border{
    margin-left:-2rem;
    margin-right:-2rem;
    display: flex;
    flex-direction: column;
    border-top-width:0.5px;
    border-bottom-width:2px;
    padding:0.5px;
    background-color: rgba(82, 78, 78, 0.298);
    border-radius: 0.5px;
    border-color:#A0AEC0;
}
.business__plan--price{
    font-size: 48px;
    font-weight: bold;
    color:white;
    margin-bottom:24px;
}
.business__plan--time{
    color:white;
    font-size: 16px;
    opacity:1;
    font-weight: bold;
    margin-bottom:46px;
}
/*enterprise plan*/
.enterprise__plan--container{
position:relative;
margin-top:4rem;
display: flex;
width:100%;
max-width: 24rem;
flex-direction: column;
border-radius: 0.5rem;
background:white;
padding-left: 4em;
padding-right:4em;
padding-bottom:1em;
text-align: center;
}
.enterprise__description--border{
    margin-left:2rem;
    margin-right:-2rem;
    display: flex;
    flex-direction: column;
    border-top-width:0.5px;
    border-bottom-width:2px;
    padding:0.5px;
    background-color: rgba(82, 78, 78, 0.298);
    border-radius: 0.5px;
    border-color:#A0AEC0;
}
.enterprise__plan--header{
    width:100%;
}
.enterprise__plan--time{
    font-weight: bold;
    color:gray;
    margin:24px 0 24px 0;
}
.enterprise__btn{
position:relative;
background: linear-gradient(115deg, rgba(245, 101, 101)0%, rgb(254, 178, 178)100%);
margin: 25px 0 25px 0;
padding:18px 56px;
border-radius: 36px;
}
.enterprise__plan--highlight{
    position:absolute;
    left:0;
    right:0;
    top:0;
    height:0.5rem;
    border-top-left-radius:0.5rem;
    border-top-right-radius:0.5rem;
    background: linear-gradient(115deg, rgba(245, 101, 101)0%, rgb(254, 178, 178)100%);
}
.enterprise__plan--type{
    color:black;
    margin:0 0 0 0;
}
.enterprise__plan--price{
    font-size: 48px;
    font-weight: bold;
    color:black;
    margin:24px 0 0px 0;
}
.quality__btn:hover{
    cursor:pointer;
}
.enterprise__description--border{
    margin-left:-4rem;
    margin-right:-4rem;
    display: flex;
    flex-direction: column;
    border-top-width:0.5px;
    border-bottom-width:2px;
    padding:0.5px;
    background-color: rgba(82, 78, 78, 0.196);
    border-radius: 0.5px;
    border-color:#A0AEC0;
}
.enterprise__plan--time{
    margin-bottom:42px;
}
.enterprise__plan--header{
    margin-top:12px;
    margin-bottom:36px;
}
.enterprise__plan--type{
    margin:24px 0px 0px 0px;
}
.enterprise__container--description{
    margin:24px 0 24px 0;
}
.plan__para{
    font-weight: bold;
    margin-bottom:12px;
}

/*values*/
#values{
    margin:10%;
}
.values__container{
    width:100%;
    max-width: 2300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.values__section--wrapper{
    display: flex;
    width:100%;
    max-width: 2300px;
}
.painter__wrapper{
    display: flex;
    width:100%;
    max-width: 1500px;
    margin:0 auto;
}
.values__header{
    color:#6415ff;
    font-size: 16px;
    width:100%;
}
.values__para{
    line-height: 1.5;
    text-align: left;
    margin:32px 0;
}
.values__subheader{
    font-size: 48px;
    width:70%;
}
.affordable__section--wrapper{
    width:50%;
    max-width: 400px;
    justify-content: center;
}
.affordable__title--wrapper{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.affordable__para{
    display: flex;
    align-items: center;
    margin-bottom:40px;
    width:100%;
    max-width: 300px;
}
.professional__title{
    font-weight: bold;
    margin:0 0 0 8px;
}
.professional__title--wrapper{
    display: flex;
    align-items: center;
    margin:0 0 16px 0;
}
.professional__para{
    width:100%;
    max-width: 300px;
    display: flex;
    margin:0 0 24px;
}
.business__section--wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 0 70px 0;

}
.business__container{
    display: flex;
    flex-direction: column;
}
.dollar{
    font-size: 24px;
    background-color: green;
    border-radius: 50%;
    margin:8px 4px;
}
.briefcase{
    font-size: 24px;
    background-color: brown;
    border-radius: 25%;
}
.painter__img{
    max-width: 800px;
}
.principles__containers--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.values__btn{
    background-color: #6415ff;
    color:white;
    padding:16px 32px;
    border-radius: 32px;
}

/*pricing*/
.pricing__row{
    max-width: 1200px;
    width:100%;
    margin:0 auto;
}
/*personal plan*/
#pricing{
    margin-left:auto;
    margin-right:auto;
    padding-top:5rem;
    padding-bottom:5rem;
}
.pricing__header{
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing:0.1rem;
    text-align: center;
    color:rgb(100 21 255);
    margin-bottom:50px;
}
/*Testimonial*/
.rating__wrapper{
    display: flex;
}
#testimonial{
    padding: 100px 0;
}
.rating__wrapper{
    color:rgb(246, 173, 85);
}
.testimonial__wrapper{
    display: flex;
    width:60%;
    margin:0 auto;
    justify-content: center;
}
.testimonial__img{
    display: flex;
    width:50%;
    margin-right:5%;
}
.testimonial__subheader{
    font-size: 32px;
    font-weight: bold;
    width:500px;
    margin-bottom:5%;
}
.testimonial__header{
    color:purple;
    margin-top:10%;
    margin-bottom:10%;
}
.user__experience--wrapper{
    display: flex;
    flex-direction: column;
}
.rating{
    margin-top:5%;
    margin-bottom:5%;
}
.user__experience{
    margin-bottom:2%;
    margin-top:40px;
    font-weight: bold;
    opacity:0.8;
}
.testimonial__para{
    font-size: 16px;
    width:400px;
    line-height: 1.5;
    margin-bottom: 40px;
}
i{
    padding-right:5px;
}
.user__experience--para{
    line-height: 1.5;
    font-size: 16px;
    width:400px;
}
.customer__smile--img{
    width:60px;
    border-radius: 50%;
    margin-top:5%;
}
.customer__img--wrapper{
    display: flex;
    margin-top:5%;
}
.happy__customer--para{
    font-weight: bold;
    font-size: 16px;
    flex-direction: column;
    margin-left:100px;
    margin-bottom:250px;
}
.happy__customer--title{
    position:absolute;
    margin:1% 0 0 5%;
    transform:translateX(-20%);
}
.director__info--wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 16px;
}
.happy__customer--subtitle{
    position:absolute;
    font-size: 12px;
    margin:3% 0 0 6%;
     transform: translateX(-30%);
     opacity:0.8;
    
}

/*box*/
.box{
    position:absolute;
    height:20vh;
    background-color: #6415ff;
    width:100%;
    max-width: 1200px;
    margin: 0 25%  0;

}
.developer__box--para{
    color:white;
    font-size: 32px;
    font-weight: bold;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
}
.button__container{
    display: flex;
    margin-top:10%;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
}
.getstarted__btn{
    margin:0 50px;
    padding:12px 24px;
    border-radius: 32px;
    background-color: #F56565;
}
.contact__btn{
    padding:12px 24px;
    border-radius: 32px;
    background-color: rgb(100 21 255);
    border:1px solid white;
}
/*footer*/
#footer{
    padding:96px 0;
}
.list__container{
    margin-top:15%;
    background-color: #6415ff;
    width:100%;
    max-width: 3000px;
    height:30vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow:hidden;
}
li{
    padding:4px;
}
.footer__title{
    color:white;
    font-size: 14px;
    font-weight: bold;
}
.footer__list--wrapper{
    width:100%;
    display: flex;
    justify-content: center;
    padding:0 15% 0 0;
}
.footer__list--main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    color:white;
    margin:48px;
    padding:0 24px;
}
.footer__list--product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
    padding:48px;
}
.footer__list--press{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
    padding:48px;
}
.footer__list--team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
    padding:48px;
}
.footer__list--legal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
    padding:48px;
}
.copyright__container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.copyright__img{
    width:40px;
}
.copy__img--divider{
    display: flex;
    width:100%;
    max-width: 2000px;
    padding:0 600px 0 0;

}
.footer__copyright--para{
    display: flex;
    width:100%;
    padding-left:100px;
    align-items: center;
    color:white;
    opacity:0.8;
}
hr{
    position:relative;
    width:100%;
    max-width: 1200px;
    margin-left:25%;
    margin-bottom:1%;
    opacity:0.3;
}

@media(min-width:728px){
.btn__menu{
    display:none;
}
.menu--open{
    overflow-y:hidden;
}
.treact__imgtext{
    margin: 0 auto;
}
}
@media (max-width:728px){
   /*nav*/
   .btn__menu{
    position: relative;
   }
   .menu__backdrop{
    overflow-y: hidden;
   }
   .menu--open{
    overflow-y:hidden;
   }
    .nav__links{
    display:none;
   }
   .treact__logo--img{
    width:150px;
    margin: 0 0 0 120%;
   }
   .treact__imgtext{
    position: relative;
    font-size: 52px;
    font-weight: bold;
    display: flex;
    margin:60% 0 0 0;
   }
   .treact__logo--wrapper{
    display: flex;
    flex-direction: column;
    width:100%;
    max-width: 700px;
    justify-content: center;
    margin: 0 auto;
   }
   /*header*/
   .header__container{
    display: flex;
    flex-direction: column;
    width:100%;
    max-width: 728px;
   }
   .header__box1{
    width:100%;
    text-align: center;
    display: flex;
   }
   .header__title{
    width:100%;
    text-align: center;
    max-width: 700px;
    margin:24px;
   }
   .header__para{
    margin:0 auto;
    margin-bottom:24px;
   }
   form{
    margin: 0 auto;
   }
   .customer__logo{
    width:80%;
   }
   .header__box2{
    max-width: 100%;
    margin:0 auto;
   }
   .desk__img{
    width:100%;
   }
   /*features*/
   .services{
    width:100%;
    max-width: calc(100% / 2);
    margin:20% 0;
   }
    .features__para{
        width:100%;
        max-width: 500px;
        text-align: center;
        line-height: 1.5;
    }
    .features__title{
        width:100%;
        max-width: 728px;
    }
    .features__row{
        width:100%;
        max-width:600px;
    }
    .services{
        width:100%;
        max-width: 700px;
        margin: 0 auto;

    }
    .service{
        width:calc(100%/1);
        max-width: 700px;
    }
   /*quality*/
   .quality__subtitle{
    width:100%;
    max-width: 728px;
    text-align: center;
   }
   .quality__para{
    text-align: center;
    max-width: 728px;
   }
   .quality__img{
    width:100%;
    max-width: 728px;
    display: flex;
   }
    .quality__wrapper{
        display: flex;
        flex-direction: column;
    }
    .quality__title{
        text-align: center;
    }
    .quality__subtitle{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        max-width: 728px;
        justify-content: center;
    }
    .quality__learn--btn{
        display: flex;
        margin:5% auto;
    }
    .quality__container{
        width:100%;
        max-width: 728px;
    }
    .quality__img--container{
        margin: 0 auto;
    }
    /*steps*/
    .steps__container{
        width:100%;
        display: flex;
        flex-direction: column;
    }
    h1{
        justify-content: center;
        text-align: center;
        margin:10%;
    }
    .steps__subheader{
        display: flex;
        justify-content: center;
    }
    .step__wrapper{
        justify-content: center;
        padding-right:10%;
    }
    .steps__img{
        width:100%;
        max-width: 728px;
        margin:10% 0;
    }
    .Register{
        font-size: 24px;
        text-align: center;
    }
    .Register__para{
        text-align: center;
    }
    .step__number{
        font-size: 40px;
    }
    /*values*/
    .painter__wrapper{
        display: flex;
        flex-direction: column;
    }
    .values__header{
        display: flex;
        margin: 0 auto;
    }
    .values__subheader{
        margin:24px 0;
        width:100%;
        text-align: center;
    }
    .values__para{
        text-align: center;
    }
    .values__section--wrapper{
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }
    .values__btn{
        display: flex;
        justify-content: center;
    }
    .painter__img--container{
        width:100%;
    }
    .painter__img{
        margin:32px 0;
        max-width: 500px;
    }
    /*pricing*/
    .pricing__row{
        display: flex;
        flex-direction: column;
    }
    .pricing__subheader{
        width:100%;
        max-width: 650px;
        text-align: center;
    }
    .pricing__para{
        width:100%;
        max-width: 500px;
        margin: 0 auto;
    }
    .plans__wrapper{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    /*testimonials*/
    .testimonial__wrapper{
        display: flex;
        flex-direction: column;
    }
    .rating__wrapper{
        justify-content: center;
    }
    .testimonial__img{
        margin: 0 auto;
        width:100%;
    }
    .testimonial__header{
        text-align: center;
    }
    .testimonial__subheader{
        text-align: center;
        width:100%;
    }
    .testimonial__para{
        text-align: center;
    }
    .user__experience{
        text-align: center;
    }
    .user__experience--para{
        text-align: center;
    }
    .customer__img--wrapper{
        margin: 0 auto;
    }
    .customer__smile--img{
        width:100%;
    }
    .happy__customer--title{
        font-size: 36px;
        font-weight: bold;
        margin: 0 auto;
        width: 100%;

    }
    .happy__customer--subtitle{
        font-size: 36px;
        margin: 0 auto;
        margin-top:5%;
        width: 100%;
    }
    /*footer box-top*/
    #footer{
        margin-top:10%;
    }
    .list__container{
        width:100%;
        max-width: 728px;
    }
    .footer__list--wrapper{
        width:calc(100% / 1);
        max-width: 728px;
        display: flex;
        flex-wrap: wrap;
        padding:48px 0 0 0;
        text-align: left;

    }
    .footer__nav{
        width:100%;
        max-width: 700px;
        background-color:#6415ff;
    }
    .developer__btn--wrapper{
        display: flex;
        width:100%;
        justify-content: center;
    }
    .developer__box--para{
        font-size: 24px;
        font-weight: bold;
        width:50%;
        max-width: 728px;
        text-align: center;
        margin-top:0 auto;
        display: flex;
    }
    .list__container{
        margin:70% 0 0 0;
        height:100%;
        width:100%;
        max-width: 728px;
    }
    html{
        overflow-x: hidden;
    }
    .box{
        width:100%;
        max-width:728;
        height:40%;
        margin: 0 auto;
        justify-content: center;
    }
    .button__container{
        width:100%;
        margin:10% 50% 0 0;
        max-width: 728px;
        display: flex;
        height:50%;
        justify-content: center;
        align-items: center;
        padding: 24px;
    }
    .copy__img--divider{
        width:100%;

    }
    .footer__copyright--para{
        width:100%;
        max-width: 728px;
    }
    
    /*five column*/
   
   
}
   
   
   
    
   
    
    
   
   
   
    
   
  

