@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/*nav bar parameters*/
#nav{
    padding:32px 0;
}
.treact__logo--wrapper{
    display: flex;
    align-items: center;
    padding-right:7%;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    max-width: 2000px;
}
.treact__logo--text{
    color:#243E63;
    font-weight: 900;
    font-size: 1.5rem;
}
.nav__link{
    display: flex;
    padding:0 32px;
    justify-content: center;
    align-items: center;
}
ul{
    margin:0 auto;
    display: flex;

}
.nav__signup{
    background-color: #6415ff;
    color:white;
    padding:8px 24px;
    border-radius: 32px;
    margin:0 24px;
}
.navigation__row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.treact__img--txt{
    font-weight: bold;
    letter-spacing: 0.25rem;
}
.treact__logo--img{
    width:40px;
}
.img__text{
    font-size: 20px;
    font-weight: bold;
    color:black;
    letter-spacing:0.1rem;
}
.connections__logo--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    max-width: 400px;

}
li{
    display: flex;
    margin:0 auto;
    padding-left: 50px;
    list-style-type: none;
}
.nav__link--login{
    margin-left:16px;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color:gray;
    font-weight: bold;
}
.nav__links{
    transform: translateX(50%);
}
.nav__link--btn{
    border:4px solid #6415ff;
    border-radius: 24px;
    background-color: #6415ff;
    color:white;
    padding:8px 24px;
    margin-left:16px;
}
.nav__link--btn:hover{
    cursor:pointer;
}
.logo__img--wrapper{
    display: flex;
    align-items: center;
}
.logo__img{
    display: flex;
    width:40px;
    margin:0 auto;
}
.logo__img:hover,
.treact__logo--text:hover{
    cursor:pointer;
}
/*header*/
#header{
    margin-bottom:10%;
}
.header__container{
    display: flex;
    justify-content: center;
    width:100%;
    max-width: 2300px;
    padding-left:45px;
}
.header__box1{
    display: flex;
    flex-direction: column;
    padding:48px 0;
    width:40%;
    max-width: 500px;
}
.header__box2{
    display: flex;
    width:50%;
    max-width: 800px;
}
.header__title{
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
}
.header__para{
    font-size: 16px;
    width:100%;
    max-width: 400px;
    margin:32px 0;
}
.customer{
    padding-top:50px;
    font-size: 14px;
    font-weight: bold;
    opacity:0.5;
    color:#A0AEC0;
}
form{
    display: flex;
    flex-direction: row;
    border:2px solid rgba(170, 170, 170, 0.348);
    border-radius: 32px;
    width:400px;
}
.customer__logo{
    width:100%;
    padding:20px 0;
    opacity:0.5;
}
.start--btn{
    margin:0 auto;
    border-radius: 32px;
    padding:4px 40px;
    background-color: #6415ff;
    color:white;
}
.get__started--btn{
    background-color: #6415ff;
    color:white;
    padding:4px 32px;
    border-radius: 32px;
}
.start--btn:hover{
    cursor:pointer;
}
.start--btn:active{
    transform: translateY(1px);
}
input{
    border:none;
    flex-grow: 2;
    border-radius: 9999px;
    border-width:2px;
    padding:20px;
    background-color: white;
    margin:0px;
    line-height: inherit;
}
.header__description--para{
    width:100%;
    max-width: 1200px;
    font-size: 12px;
    margin:0 auto;
}
.get__started--container{
    display: flex;
    margin:20px 10%;
}

.color{
    color:#6415ff;
}
.desk__img{
    width:100%;
    max-width: 1200px;
    justify-content: center;
}


/*features*/
.features__row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto;
    max-width: 2300px;
    width:100%px;
}
.features__title{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-align: center;
}
.services__subtitle{
    justify-content: center;
    padding:24px 0 24px 0;
    margin:0 auto;
    color:#243e63;
    font-size: 48px;
}
.features__para{
    display: flex;
    width:100%;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    margin-bottom:5%;
}
.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0 auto;
    width:50%;
}
.service{
    display: flex;
    width:calc(100% / 3);
    margin:0 0 24px 0;
    align-items: center;
    justify-content: center;
}
.service__img--wrapper{
    display: flex;
}
.service__img{
    width:40px;
}
.service__title{
    text-align: center;
    margin:0 50% 0 20%;
}
.service__para{
    width:50%;
    width:200px;
    margin:0 0 0 50px; 
    line-height: 1.5;
}

/*quality section*/
#quality{
    margin:10% 0;
}
.quality__row{
    width:100%;
    max-width: 1200px;
    margin:0 auto;
}
.quality__container{
    width:60%;
    display: flex;
    flex-direction: column;
}
.quality__wrapper{
    display: flex;
    max-width:1200px;
    width:100%;
}
.quality__img{
    width:800px;
    max-width: 100%;
}
.quality__title{
    color:#6415ff
}
.quality__subtitle{
    font-size:48px;
    width:100%;
    max-width: 700px;
}
.quality__para{
    color:#7C8BA1;
    line-height: 1.5;
}
.quality__img--container{
    border:1px solid rgba(128, 128, 128, 0.253);
    margin: 0 0 0 24px;
}
.quality__learn--btn{
    padding:8px 16px;
    border-radius:32px;
    background-color: #6415ff;
    color:white;
    margin-top:20px;
}

/*values*/
#values{
    padding:80px 0;
}
.values__row{
    width:50%;
    max-width: 800px;
}
.values__clone_img{
    width:50%;
    max-width: 800px;
}

.principles__row{
    padding:0 0 0 150px;
    justify-content: center;
    width:100%;
    max-width: 1200px;
}
.principles__column{
    padding:0 0 0 150px;
}
.principles__subheader{
    width:100%;
    max-width: 900px;
}
/*steps*/
.steps__container{
    display: flex;
    justify-content: center;
    width:100%;
    max-width: 2000px;
    padding-left:600px;
}
.step__wrapper{
    display: flex;
    margin:24px;
}
.steps__header{
    font-size: 16px;
    color:#6415ff;
    margin-bottom:24px;
}
.steps__subheader{
    font-size: 48px;
}
.step__number{
    padding:16px 24px;
    font-size: 24px;
    font-weight: bold;
    opacity:0.5;
}
.Register{
    font-weight: bold;
    font-size: 18px;
    margin-bottom:8px;
}
.Register__para{
    width:100%;
    max-width: 300px;
}
/*pricing*/
.pricing__row{
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
}
.plans__wrapper{
display: flex;
justify-content: space-around;
}
.plan__container--wrapper{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.personal__time{
    color:gray;
    font-weight: bold;
    margin-bottom:48px;
}
.pricing__subheader{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.025em;
    color:#243e63;
}
.personal__plan--top{
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    width:383.99px;
    height:0.5rem;
    border-top-left-radius:0.5rem;
    border-top-right-radius:0.5rem;
    background:linear-gradient(115deg, rgb(56,178,172)0%, rgb(129,230,217)100%);
    margin:0px;
}
.personal__description--border{
    margin-left:-2rem;
    margin-right:-2rem;
    display: flex;
    flex-direction: column;
    border-top-width:0.5px;
    border-bottom-width:2px;
    padding:0.5px;
    background-color: rgb(226, 232, 240);
    border-radius: 0.5px;
    border-color:#A0AEC0;
}
.personal__plan--container{
    position:relative;
    margin-top:4rem;
    display: flex;
    width:100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    opacity:1;
    background-color: white;
    padding-left:2rem;
    padding-right:2rem;
    text-align: center;

}
.personal__button--container{
    padding:2rem 1rem;
}
.plan__highlight{
    position:absolute;
    left:0;
    right:0;
    top:0;
    height:0.5rem;
    border-top-left-radius:0.5rem;
    border-top-right-radius:0.5rem;
    background:linear-gradient(115deg, rgb(56, 178, 172)0%, rgb(129,230,217)100%);
}
.personal__plan--price{
    font-size: 48px;
    font-weight: bold;
    margin-bottom:24px;
    color:black;
}
.plan__time{
    margin-bottom:24px;
    font-size: 18px;
    color:white;
    font-weight: bold;
    opacity:0.5;
}
.plan__header{
    display: flex;
    flex-direction: column;
    padding-top:2rem;
    text-transform: uppercase;
    line-height: 1.625;
    text-align: center;
    margin-bottom:32px;
}
.pricing__header--container{
    width:100%;
    max-width: 800px;
    margin:0 auto;
}
.personal__para{
    margin-bottom:12px;
    font-weight: bold;
}
.pricing__para--top{
    width:100%;
    max-width: 800px;
}
.pricing__para{
    width:100%;
    text-align: center;
    font-size: 18px;
    max-width: 1200px;
    margin: 32px 0px 32px 0px;
}
.plan__type{
    margin:24px 0 16px 0;
}
.personal__btn{
    padding:16px 48px;
    border-radius: 32px;
    margin-bottom:24px;
    margin-top:24px;
    background:linear-gradient(115deg, rgb(56, 178, 172)0%, rgb(129,230,217)100%);
}
/*business plan*/
.business__plan--container{
    position:relative;
    margin-top:4rem;
    display: flex;
    width:100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background:linear-gradient(135deg, rgb(76,81,191)0%, rgb(102,126,234)100%);
    padding-left:2rem;
    padding-right:2rem;
    text-align: center;
}
.business__plan--type{
    color:white;
    margin-top:28px;
    margin-bottom:20px;
}
.business__btn{
    padding:16px 48px;
    border-radius: 32px;
    margin-bottom:24px;
    margin-top:24px;
    background-color: white;
    color:#6415ff;
    font-weight: bold;
}
.business__para{
    color:white;
    margin:0 0 18px 0;
    width:100%;

}
.business__description--border{
    margin-left:-2rem;
    margin-right:-2rem;
    display: flex;
    flex-direction: column;
    border-top-width:0.5px;
    border-bottom-width:2px;
    padding:0.5px;
    background-color: rgba(82, 78, 78, 0.298);
    border-radius: 0.5px;
    border-color:#A0AEC0;
}
.business__plan--price{
    font-size: 48px;
    font-weight: bold;
    color:white;
    margin-bottom:24px;
}
.business__plan--time{
    color:white;
    font-size: 16px;
    opacity:1;
    font-weight: bold;
    margin-bottom:46px;
}
/*enterprise plan*/
.enterprise__plan--container{
position:relative;
margin-top:4rem;
display: flex;
width:100%;
max-width: 24rem;
flex-direction: column;
border-radius: 0.5rem;
background:white;
padding-left: 4em;
padding-right:4em;
padding-bottom:1em;
text-align: center;
}
.enterprise__description--border{
    margin-left:2rem;
    margin-right:-2rem;
    display: flex;
    flex-direction: column;
    border-top-width:0.5px;
    border-bottom-width:2px;
    padding:0.5px;
    background-color: rgba(82, 78, 78, 0.298);
    border-radius: 0.5px;
    border-color:#A0AEC0;
}
.enterprise__plan--header{
    width:100%;
}
.enterprise__plan--time{
    font-weight: bold;
    color:gray;
    margin:24px 0 24px 0;
}
.enterprise__btn{
position:relative;
background: linear-gradient(115deg, rgba(245, 101, 101)0%, rgb(254, 178, 178)100%);
margin: 25px 0 25px 0;
padding:18px 56px;
border-radius: 36px;
}
.enterprise__plan--highlight{
    position:absolute;
    left:0;
    right:0;
    top:0;
    height:0.5rem;
    border-top-left-radius:0.5rem;
    border-top-right-radius:0.5rem;
    background: linear-gradient(115deg, rgba(245, 101, 101)0%, rgb(254, 178, 178)100%);
}
.enterprise__plan--type{
    color:black;
    margin:0 0 0 0;
}
.enterprise__plan--price{
    font-size: 48px;
    font-weight: bold;
    color:black;
    margin:24px 0 0px 0;
}
.quality__btn:hover{
    cursor:pointer;
}
.enterprise__description--border{
    margin-left:-4rem;
    margin-right:-4rem;
    display: flex;
    flex-direction: column;
    border-top-width:0.5px;
    border-bottom-width:2px;
    padding:0.5px;
    background-color: rgba(82, 78, 78, 0.196);
    border-radius: 0.5px;
    border-color:#A0AEC0;
}
.enterprise__plan--time{
    margin-bottom:42px;
}
.enterprise__plan--header{
    margin-top:12px;
    margin-bottom:36px;
}
.enterprise__plan--type{
    margin:24px 0px 0px 0px;
}
.enterprise__container--description{
    margin:24px 0 24px 0;
}
.plan__para{
    font-weight: bold;
    margin-bottom:12px;
}

/*values*/
#values{
    margin:10%;
}
.values__container{
    width:100%;
    max-width: 2300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.values__section--wrapper{
    display: flex;
    width:100%;
    max-width: 2300px;
}
.painter__wrapper{
    display: flex;
    width:100%;
    max-width: 1500px;
    margin:0 auto;
}
.values__header{
    color:#6415ff;
    font-size: 16px;
    width:100%;
}
.values__para{
    line-height: 1.5;
    text-align: left;
    margin:32px 0;
}
.values__subheader{
    font-size: 48px;
    width:70%;
}
.affordable__section--wrapper{
    width:50%;
    max-width: 400px;
    justify-content: center;
}
.affordable__title--wrapper{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.affordable__para{
    display: flex;
    align-items: center;
    margin-bottom:40px;
    width:100%;
    max-width: 300px;
}
.professional__title{
    font-weight: bold;
    margin:0 0 0 16px;
}
.professional__title--wrapper{
    display: flex;
}
.professional__para{
    width:100%;
    max-width: 300px;
}
.business__section--wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 0 70px 0;

}
.business__container{
    display: flex;
    flex-direction: column;
}
.dollar{
    font-size: 24px;
    background-color: green;
    border-radius: 50%;
    margin:8px 4px;
}
.briefcase{
    font-size: 24px;
    background-color: brown;
    border-radius: 25%;
}
.painter__img{
    max-width: 800px;
}
.principles__containers--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.values__btn{
    background-color: #6415ff;
    color:white;
    padding:16px 32px;
    border-radius: 32px;
}

/*pricing*/
.pricing__row{
    max-width: 1200px;
    width:100%;
    margin:0 auto;
}
/*personal plan*/
#pricing{
    margin-left:auto;
    margin-right:auto;
    padding-top:5rem;
    padding-bottom:5rem;
}
.pricing__header{
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing:0.1rem;
    text-align: center;
    color:rgb(100 21 255);
    margin-bottom:50px;
}
/*Testimonial*/
.rating__wrapper{
    display: flex;
}
#testimonial{
    padding: 100px 0;
}
.rating__wrapper{
    color:rgb(246, 173, 85);
}
.testimonial__wrapper{
    display: flex;
    width:60%;
    margin:0 auto;
    justify-content: center;
}
.testimonial__img{
    display: flex;
    width:50%;
    margin-right:5%;
}
.testimonial__subheader{
    font-size: 32px;
    font-weight: bold;
    width:500px;
    margin-bottom:5%;
}
.testimonial__header{
    color:purple;
    margin-top:10%;
    margin-bottom:10%;
}
.user__experience--wrapper{
    display: flex;
    flex-direction: column;
}
.rating{
    margin-top:5%;
    margin-bottom:5%;
}
.user__experience{
    margin-bottom:2%;
    margin-top:40px;
    font-weight: bold;
    opacity:0.8;
}
.testimonial__para{
    font-size: 16px;
    width:400px;
    line-height: 1.5;
    margin-bottom: 40px;
}
i{
    padding-right:5px;
}
.user__experience--para{
    line-height: 1.5;
    font-size: 16px;
    width:400px;
}
.customer__smile--img{
    width:60px;
    border-radius: 50%;
    margin-top:5%;
}
.customer__img--wrapper{
    display: flex;
    margin-top:5%;
}
.happy__customer--para{
    font-weight: bold;
    font-size: 16px;
    flex-direction: column;
    margin-left:100px;
    margin-bottom:250px;
}
.happy__customer--title{
    position:absolute;
    margin:1% 0 0 5%;
    transform:translateX(-20%);
}
.director__info--wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 16px;
}
.happy__customer--subtitle{
    position:absolute;
    font-size: 12px;
    margin:3% 0 0 6%;
     transform: translateX(-30%);
     opacity:0.8;
    
}
/*footer*/
.footer__nav{
    background-color: rgb(100,21,255);
    padding: 20px 0;
    max-width: 60%;
    height: 300px;
    display: flex;
    justify-content: center;
    margin:0 auto;
}
.developer--para{
    display: flex;
    flex-wrap: wrap;
    font-size: 28px;
    width:50%;
    max-width: 500px;
    transform: translateX(-20%);
    transform: translateY(40%);
    margin-right:5%;
    width:40%;
    color:white;
    z-index: 2;
}
.get__started--wrapper{
    display: flex;
    background-color: rgba(98, 40, 168, 0.272);
    width:100%;
}
.start__btn{
    background-color: #F56565;
    margin:80px 32px 0 0;
    padding:20px 40px;
    border-radius: 9999px;
    height:60px;
    display: flex;
    align-items: center;
}
.contact__btn{
    padding:20px 40px;
    border-radius: 9999px;
    height:60px;
    margin:80px 32px 0 0;
    background-color: rgba(93, 15, 93, 0.084);
    border:1px solid rgba(255, 255, 255, 0.579);
}
.blob{
    position:absolute;
    align-items: center;
    background:rgba(61, 5, 95, 0.374) ;
    width:300px;
    height:200px;
    margin-top:5.5%;
    margin-right:46.5%;
    border-radius: 10% 250% 10% 10%;
    transform:translateY(-20%);
    opacity:1;
    z-index: 2;    
}
.blob2{
    position:absolute;
    margin-left:50%;
    width:10%;
    height:8%;
    border-radius: 0% 0% 0% 800%;
    background-color: rgba(46, 13, 67, 0.471);
    transform:translateY(-18%);
    opacity:1;
}
/*footer end*/
.footer__end--box{
    position:absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #6415ff;
    width:100%;
    height:700px;
    margin:10% 0 0 0;
}

.main__list--container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width:100%;
    text-align: center;
    line-height: 2.5;
}
.footer__list--wrapper{
    margin:0 auto;
}
.footer__outerbox{
    width:100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    background-color:#6415ff;
    margin:0 auto;
    z-index: 1;
}

/*footer list links*/
.main,
.blog,
.FAQS,
.support,
.about__us{
    margin-bottom:10px;
    color:white;
    font-weight: bold;
}

.h__line--footer{
    margin-top:4rem;
    width:70%;
    color: rgb(247 250 252);
    opacity:0.3;
    margin:50px auto;
    
    border-bottom-width:2px;
}
.list{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin:0 auto;
    margin-left:30%;
    color:white;
    width:100%;
    max-width: 1200px;
    font-size: 12px;
    line-height: 2.5;
}
.footer__list--wrapper{
    width:100%;
    display: flex;
}
.treact__footer--logo{
    position: absolute;
    display: flex;
    margin:0 0 40% 0;
    color:white;
    height:40px;
}
.treact__footerlogo--wrapper{
    background-color: blue;
    margin:31% 0% 0% 20%;
    z-index: 50;
}
.footer__logo--txt{
    position:absolute;
    color:white;
    transform: translateX(55%);
    margin:0.5% 0 0 0;
    font-weight: bold;
}
.footer__copyright--txt{
    position: absolute;
    display: flex;
    justify-content: center;
    transform: translateX(150%);
    color:rgb(255, 255, 255);
    opacity:0.7;
}
@media screen and(max-width:768px),
(max-width:1200px){
    .navigation__container{
        display: flex;
        max-width: 400px;
        width:100%;
        flex-direction: column;
    }
    .logo__img{
        display: flex;
        justify-content: center;
    }
    .nav__links{
        overflow: hidden;
    }
    .navigation__row{
        display: flex;
        justify-content: center;
        max-width: 200px;
        width:100%;
        margin-bottom:10%;
    }
    form{
        display: flex;
        transform: translateX(1%);
    }
    .trust__title{
        width:500%;
        max-width: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .header__row{
        display: flex;
        max-width: 200px;
        width:100%;
        margin-top:20%;
    }
    .treact__img--wrapper{
        max-width: 100%;
        width:800px;
        display: flex;
        flex-direction: column;
    }
    .trust__img--wrapper{
        width:100%;
        max-width: 600px;
    }
    .trust__img--logo{
        max-width: 600px;
        width:500%;
        
    }
    figure{
        max-width: 800px;
        width:100%;
    }
    .desk__img--container{
        max-width: 50%;
        width:400px;
        margin: 0 auto;
    }
    .header__treact--img{
        width:500px;
    }
    /*features*/
    .features__para{
        width:100%;
        max-width: 600px;
        line-height: 1.5;
    }
    .features__row{
        width:100%;
        max-width:600px;
    }
    .services{
        width:100%;
        max-width: 700px;
        margin: 0 auto;

    }
    .service{
        width:calc(100%/2);
        max-width: 700px;
    }
    /*quality*/
    .quality__wrapper{
        display: flex;
        flex-direction: column;
    }
    .quality__title{
        margin: 0 auto;
    }
    .quality__subtitle{
        margin-top:5%;
        width:100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .quality__learn--btn{
        display: flex;
        margin:5% auto;
    }
    .quality__container{
        width:100%;
        max-width: 700px;
        margin: 0 auto;
    }
    .quality__img--container{
        width:100%;
        max-width: 700px;
        margin:0 auto;
    }
    /*values*/
    .values__container--wrapper{
        display: flex;
        flex-direction: column;
    }
    .values__clone_img{
        margin:0 auto;
    }
    .steps__column{
        margin:0 auto;
    }
    .steps__header{
        width:100%;
        max-width: 700px;
        display: flex;
        text-align: center;
    }
    .steps__subheader{
        display: flex;
        text-align: center;
    }
    /*principles*/
    .principles__containers--wrapper{
        display: flex;
        flex-direction: column;
    }
    .principles__header{
        width:100%;
        max-width: 700px;
        display: flex;
        justify-content: center;
        margin:0 auto;
    }
    .principles__subheader{
        width:100%;
        max-width: 700px;
        flex-wrap: wrap;
    }
    .principles__row{
        width:100%;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:24px 0;
    }
    .principles__para{
        width:100%;
        max-width: 600px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .choices__wrapper{
        width:100%;
        max-width: 700px;
        display: flex;
    }
    .principles__column{
        display: flex;
        flex-direction: column;
        margin-right:10%;
    }
    .price__wrapper{
        margin-right:50%;
        margin-left:20%;
    }
    .principles__row2{
        width:100%;
        width:500px;
        margin:24px 0;
    }
    .business__icon--txt{
        padding-right:32px;
    }
}
